.page-faq {
	.card-header .btn[aria-expanded=true] {
		color: white !important;
		background-color: $theme-primary;
		.icon-dropdown {
			transform: rotate(0deg);
		}
	}

	.icon-dropdown {
		transform: rotate(180deg);
	}

	.card-shadow {
		box-shadow: 6px 6px 9px -2px rgba($color: #000000, $alpha: 0.1);
	}

	.card {
		border: none;
		.btn:focus {
			box-shadow: none !important;
		}
	}
	.card-body a {
		@extend .text-theme-secondary, .text-decoration-none;
	}
	input {
		&:focus {
			outline: none !important;
		}
	}
	button[type="submit"]:focus {
		outline: none !important;
	}
}
