.navbar-nav{
	>li{
		margin-left: 16px;
		margin-right: 16px;
		@extend .d-flex, .align-items-center
	}
	a{
		@extend .fz-16, .leading-24, .text-decoration-none, .font-heebo-regular;
		color: $theme-dark-green;
	}
	:last-child{
		@extend .mr-0;
	}
}

.navbar-toggle{
	@extend .ml-auto;
	&:focus {
		outline: 0;
	}
	.icon-bar {
		height: 4px;
		width: 25px;
		right: 0;
		&.top{
			transition: 0.1s all;
			transform: rotate(0deg);
			top: -6px;
		}
		&.center{
			top: 0;
		}
		&.bottom{
			transition: 0.1s all;
			transform: rotate(0deg);
			top: 6px;
		}
	}
}
.navbar-toggle-cross{
	.icon-bar{
		&.top{
			transition: 0.1s all;
			transform: rotate(-45deg);
			top: 0;
		}
		&.center{
			visibility: hidden;
		}
		&.bottom{
			transition: 0.1s all;
			transform: rotate(45deg);
			top: 0;
		}
	}
}

.mobile-menu {
	top: 0;
	ul {
		li{
			@extend .mb-6;
		}
		a {
			@extend .fz-16, .leading-24, .text-decoration-none, .font-heebo-regular, .text-white;
		}
	}
}

.desktop-menu {
	li {
		@extend .position-relative;
	}
	li a {
		@extend .font-heebo-regular, .fz-md-16, .leading-md-20, .text-theme-dark-green, .text-decoration-none, .w-full;
	}
	.sub-menu {
		@extend .bg-white, .position-absolute, .px-md-3, .top-7, .w-220, .py-3, .left-n12\.5, .rounded-11;
		display: none;
		li {
			a {
				@extend .w-full, .py-4, .pl-11, .d-block, .fz-14;
				:hover {
					@extend .text-theme-dark-green, .bg-theme-pewter;
				}
			}
			a:hover {
				@extend .text-theme-dark-green, .bg-theme-gin;
			}
		}
		box-shadow: 6px 6px 9px -2px rgba(0,0,0,0.10);
	}
	.menu-item-has-children {
		> a::after {
			content: url('./dist/images/icon-dropdown.svg');
			margin-left: 5px;
		}
		> .open::after {
			content: url('./dist/images/icon-arrow-up.svg');
			margin-left: 5px;
		}
	}
}
.sub-menu {
	@extend .list-unstyled, .pt-md-2;
}

.mobile-primary-menu {
	li {
		@extend .position-relative;
	}
	.sub-menu {
		@extend .bg-theme-secondary, .position-absolute, .px-md-3, .w-220, .py-3, .rounded-11, .right-0;
		display: none;
		li {
			@extend .mb-0, .mx-4;
			a {
				@extend .w-full, .py-4, .pl-11, .d-block, .fz-14, .pr-5;
				:hover {
					@extend .text-white, .bg-theme-pewter;
				}
			}
			a:hover {
				@extend .text-theme-dark-green, .bg-theme-gin;
			}
		}
		box-shadow: 6px 6px 9px -2px rgba(0,0,0,0.10);
	}
	.glific-menu-dropdown:after {
	 	content: url('./dist/images/icon-dropdown.svg');
		margin-left: 5px;
	}
	> .open::after {
		content: url('./dist/images/icon-arrow-up.svg');
		margin-left: 5px;
	}
}

