$theme-primary: #073F24;
$theme-secondary: #119656;
$theme-dark-green: #05400A;
$theme-pewter: #93A29B;
$theme-mine-shaft: #3B3B3B;
$theme-gin: #E6F1E7;
$theme-white-smoke: #F7F7F7;
$theme-nero: #222222;
$theme-bottle-green: #093F23;
$theme-scorpion: #5C5C5C;

$theme-colors: (
    'theme-primary': $theme-primary,
    'theme-secondary': $theme-secondary,
    'theme-dark-green': $theme-dark-green,
    'theme-pewter': $theme-pewter,
    'theme-mine-shaft': $theme-mine-shaft,
    'theme-gin': $theme-gin,
    'theme-white-smoke': $theme-white-smoke,
    'theme-nero' : $theme-nero,
    'theme-bottle-green': $theme-bottle-green,
    'theme-scorpion': $theme-scorpion,
);

$spacer: 4px;
$spacers: (
    0: 0,
    1: ($spacer * 0.25), // 1px
    2: ($spacer * 0.5), // 2px
    3: ($spacer * 1), // 4px
    3\.5: ($spacer * 1.5), // 6px
    4: ($spacer * 2), // 8px
    4\.5: ($spacer * 2.5), // 10px
    5: ($spacer * 3), //12px
    5\.5: ($spacer * 3.5), //14px
    6: ($spacer * 4), //16px
    6\.5: ($spacer * 4.5), // 18px
    7: ($spacer * 5), // 20px
    7\.5: ($spacer * 5.5), // 22px
    8: ($spacer * 6), // 24px
    8\.5: ($spacer * 6.5), // 26px
    9: ($spacer * 7), // 28px
    9\.5: ($spacer * 7.5), // 30px
    10: ($spacer * 8), // 32px
    10\.5: ($spacer * 8.5), // 34px
    11: ($spacer * 9), // 36px
    11\.5: ($spacer * 9.5), // 38px
    12: ($spacer * 10), // 40px
    12\.5: ($spacer * 10.5), // 40px
    13: ($spacer * 11), // 44px
    13\.5: ($spacer * 11.5), // 46px
    14: ($spacer * 12), // 48px
    15: ($spacer * 13), // 52px
    15\.5: ($spacer * 13.5), // 54px
    16: ($spacer * 14), // 56px
    16\.5: ($spacer * 14.5), // 58px
    17: ($spacer * 14), // 60px
    18: ($spacer * 16), // 64px
    20: ($spacer * 18), // 72px
    20\.5: ($spacer * 18.5), // 74px
    21: ($spacer * 19), // 76px
    22: ($spacer * 20), // 80px
    23: ($spacer * 21), // 84px
    24: ($spacer * 22), // 88px
    26: ($spacer * 24), // 96px
    27: ($spacer * 25), // 100px
    28: ($spacer * 26), // 104px
    28\.5: ($spacer * 26.5), // 106px
    31: ($spacer * 29), // 116px
    32: ($spacer * 30), // 120px
    33: ($spacer * 31), // 124px
    35: ($spacer * 33), // 132px
    36: ($spacer * 34), // 134px
    42: ($spacer * 40), // 160px
    64: ($spacer * 62), // 248px
    89: ($spacer * 89), // 356px
    125: ($spacer * 125), // 500px
    140: ($spacer * 140), // 560px
);

$sizes: (
    '3': 3px,
    '4': 4px,
    '5': 5px,
    '7': 7px,
    '8': 8px,
    '14': 14px,
    '15': 15px,
    '18': 18px,
    '20': 20px,
    '22': 22px,
    '25': 25px,
    '28': 28px,
    '30': 30px,
    '35': 35px,
    '39': 39px,
    '40': 40px,
    '42': 42px,
    '43': 43px,
    '44': 44px,
    '50': 50px,
    '52': 52px,
    '54': 54px,
    '58': 58px,
    '60': 60px,
    '64': 64px,
    '67': 67px,
    '75': 75px,
    '80': 80px,
    '82': 82px,
    '85': 85px,
    '90': 90px,
    '98': 98px,
    '100': 100px,
    '108': 108px,
    '124': 124px,
    '126': 126px,
    '128': 128px,
    '136': 136px,
    '138': 138px,
    '146': 146px,
    '149': 149px,
    '150': 150px,
    '154': 154px,
    '156': 156px,
    '162': 162px,
    '165': 165px,
    '169': 169px,
    '170': 170px,
    '172': 172px,
    '180': 180px,
    '182': 182px,
    '190': 190px,
    '200': 200px,
    '214': 214px,
    '220': 220px,
    '224': 224px,
    '225': 225px,
    '226': 226px,
    '232': 232px,
    '233': 233px,
    '235': 235px,
    '236': 236px,
    '238': 238px,
    '240': 240px,
    '242': 242px,
    '250': 250px,
    '252': 252px,
    '257': 257px,
    '258': 258px,
    '264': 264px,
    '266': 266px,
    '270': 270px,
    '280': 280px,
    '285': 285px,
    '288': 288px,
    '292': 292px,
    '298': 298px,
    '300': 300px,
    '305': 305px,
    '310': 310px,
    '312': 312px,
    '315': 315px,
    '320': 320px,
    '326': 326px,
    '328': 328px,
    '330': 330px,
    '335': 335px,
    '336': 336px,
    '344': 344px,
    '345': 345px,
    '354': 354px,
    '358': 358px,
    '360': 360px,
    '361': 361px,
    '362': 362px,
    '363': 363px,
    '374': 374px,
    '380': 380px,
    '382': 382px,
    '384': 384px,
    '407': 407px,
    '421': 421px,
    '426': 426px,
    '427': 427px,
    '432': 432px,
    '451': 451px,
    '456': 456px,
    '460': 460px,
    '486': 486px,
    '495': 495px,
    '502': 502px,
    '510': 510px,
    '512': 512px,
    '517': 517px,
    '534': 534px,
    '536': 536px,
    '540': 540px,
    '560': 560px,
    '572': 572px,
    '585': 585px,
    '600': 600px,
    '613': 613px,
    '615': 615px,
    '625': 625px,
    '633': 633px,
    '641': 641px,
    '660': 660px,
    '664': 664px,
    '674': 674px,
    '678': 678px,
    '688': 688px,
    '689': 689px,
    '712': 712px,
    '717': 717px,
    '722': 722px,
    '737': 737px,
    '738': 738px,
    '741': 741px,
    '747': 747px,
    '750': 750px,
    '752': 752px,
    '765': 765px,
    '770': 770px,
    '805': 805px,
    '830': 830px,
    '840': 840px,
    '868': 868px,
    '878': 878px,
    '880': 880px,
    '900': 900px,
    '936': 936px,
    '1010': 1010px,
    '1106': 1106px,
    '1108': 1108px,
    '1100': 1100px,
    '1044': 1044px,
    '1054': 1054px,
    '1092': 1092px,
    '1135': 1135px,
    '25p' : 25%,
    'half' : 50%,
    '75p' : 75%,
    '85p' : 85%,
    '90p' : 90%,
    '95p' : 95%,
    'full' : 100%,
);

$font-sizes: (
    '12': 12px,
    '14': 14px,
    '16': 16px,
    '18': 18px,
    '20': 20px,
    '21': 21px,
    '22': 22px,
    '24': 24px,
    '28': 28px,
    '30': 30px,
    '36': 36px,
    '43': 43px,
    '60': 60px,
);

$line-heights: (
    '16': 16px,
    '18': 18px,
    '20': 20px,
    '24': 24px,
    '27': 27px,
    '29': 29px,
    '30': 30px,
    '31': 31px,
    '33': 33px,
    '35': 35px,
    '36': 36px,
    '40': 40px,
    '43': 43px,
);

$rounded: (
    '0': 0,
    '2': 2px,
    '4': 4px,
    '5': 5px,
    '6': 6px,
    '7': 7px,
    6\.5: 6.5px,
    '8': 8px,
    '9': 9px,
    '10': 10px,
    '11': 11px,
    '12': 12px,
    '15': 15px,
    '18': 18px,
    '20': 20px,
    '24': 24px,
    '29': 29px,
    '30': 30px,
    '58': 58px,
);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1280px,
    hd: 1440px
);
