$theme-primary: #073F24;
$theme-secondary: #119656;
$theme-dark-green: #05400A;
$theme-pewter: #93A29B;
$theme-mine-shaft: #3B3B3B;
$theme-gin: #E6F1E7;
$theme-white-smoke: #F7F7F7;

$theme-colors: (
    'theme-primary': $theme-primary,
    'theme-secondary': $theme-secondary,
    'theme-dark-green': $theme-dark-green,
    'theme-pewter': $theme-pewter,
    'theme-mine-shaft': $theme-mine-shaft,
    'theme-gin': $theme-gin,
    'theme-white-smoke': $theme-white-smoke,
);

$spacer: 4px;
$spacers: (
    0: 0,
    1: ($spacer * 0.25), // 1px
    2: ($spacer * 0.5), // 2px
    3: ($spacer * 1), // 4px
    3\.5: ($spacer * 1.5), // 6px
    4: ($spacer * 2), // 8px
    4\.5: ($spacer * 2.5), // 10px
    5: ($spacer * 3), //12px
    5\.5: ($spacer * 3.5), //14px
    6: ($spacer * 4), //16px
    6\.5: ($spacer * 4.5), // 18px
    7: ($spacer * 5), // 20px
    7\.5: ($spacer * 5.5), // 22px
    8: ($spacer * 6), // 24px
    8\.5: ($spacer * 6.5), // 26px
    9: ($spacer * 7), // 28px
    9\.5: ($spacer * 7.5), // 30px
    10: ($spacer * 8), // 32px
    10\.5: ($spacer * 8.5), // 34px
    11: ($spacer * 9), // 36px
    11\.5: ($spacer * 9.5), // 38px
    12: ($spacer * 10), // 40px
    13: ($spacer * 11), // 44px
    13\.5: ($spacer * 11.5), // 46px
    14: ($spacer * 12), // 48px
    15: ($spacer * 13), // 52px
    15\.5: ($spacer * 13.5), // 54px
    16: ($spacer * 14), // 56px
    16\.5: ($spacer * 14.5), // 58px
    18: ($spacer * 16), // 64px
    20: ($spacer * 18), // 72px
    21: ($spacer * 19), // 76px
    22: ($spacer * 20), // 80px
    23: ($spacer * 21), // 84px
    24: ($spacer * 22), // 88px
    26: ($spacer * 24), // 96px
    27: ($spacer * 25), // 100px
    33: ($spacer * 31), // 124px
    36: ($spacer * 34), // 134px
    64: ($spacer * 62), // 248px

);

$sizes: (
    '5': 5px,
    '8': 8px,
    '15': 15px,
    '25': 25px,
    '44': 44px,
    '50': 50px,
    '52': 52px,
    '54': 54px,
    '58': 58px,
    '60': 60px,
    '67': 67px,
    '75': 75px,
    '80': 80px,
    '90': 90px,
    '98': 98px,
    '100': 100px,
    '108': 108px,
    '126': 126px,
    '136': 136px,
    '138': 138px,
    '146': 146px,
    '150': 150px,
    '154': 154px,
    '156': 156px,
    '170': 170px,
    '190': 190px,
    '214': 214px,
    '226': 226px,
    '232': 232px,
    '233': 233px,
    '235': 235px,
    '238': 238px,
    '240': 240px,
    '252': 252px,
    '257': 257px,
    '280': 280px,
    '288': 288px,
    '298': 298px,
    '310': 310px,
    '315': 315px,
    '320': 320px,
    '326': 326px,
    '328': 328px,
    '330': 330px,
    '336': 336px,
    '344': 344px,
    '345': 345px,
    '360': 360px,
    '362': 362px,
    '384': 384px,
    '407': 407px,
    '426': 426px,
    '427': 427px,
    '432': 432px,
    '456': 456px,
    '502': 502px,
    '534': 534px,
    '536': 536px,
    '540': 540px,
    '613': 613px,
    '625': 625px,
    '633': 633px,
    '641': 641px,
    '660': 660px,
    '664': 664px,
    '678': 678px,
    '712': 712px,
    '722': 722px,
    '737': 737px,
    '750': 750px,
    '770': 770px,
    '840': 840px,
    '868': 868px,
    '878': 878px,
    '900': 900px,
    '936': 936px,
    '1044': 1044px,
    '1092': 1092px,
    '880': 880px,
    '25p' : 25%,
    'half' : 50%,
    '75p' : 75%,
    'full' : 100%,
);

$font-sizes: (
    '12': 12px,
    '14': 14px,
    '16': 16px,
    '18': 18px,
    '20': 20px,
    '21': 21px,
    '22': 22px,
    '24': 24px,
    '28': 28px,
    '30': 30px,
    '36': 36px,
    '43': 43px,
    '60': 60px,
);

$line-heights: (
    '16': 16px,
    '18': 18px,
    '20': 20px,
    '24': 24px,
    '27': 27px,
    '30': 30px,
    '31': 31px,
    '35': 35px,
    '36': 36px,
    '40': 40px,
    '43': 43px,
);

$rounded: (
    '0': 0,
    '2': 2px,
    '5': 5px,
    '6': 6px,
    6\.5: 6.5px,
    '8': 8px,
    '10': 10px,
    '12': 12px,
    '15': 15px,
    '18': 18px,
    '20': 20px,
    '24': 24px,
    '29': 29px,
    '30': 30px,
    '58': 58px,
);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1280px,
    hd: 1440px
);
